.tabList {
  background: white;
  border: 1px solid var(--color-neutral-light);
  border-bottom: 0px;
  border-radius: var(--border-radius-xs) var(--border-radius-xs) 0 0;
  padding: 0 var(--spacing-xxs) 0;
  margin-bottom: -1px;
}

.tabList::after {
  height: 1px;
  background: var(--color-neutral-light);
}

.table table {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table td {
  white-space: wrap;
}
