.docs-icon-set {
  list-style: none;
  margin-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--unit-16);
  margin-block-start: var(--unit-24);
}

.docs-icon-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--unit-8);
  margin-block: 0;
  font: var(--body-m);
}

.docs-icon-box {
  position: relative;
  background: var(--color-background-primary-default);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-12);
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: var(--color-content-primary);

  &:hover .docs-cta-stack {
    gap: var(--unit-4);
  }
}

.docs-cta-stack {
  position: absolute;
  z-index: 1;
  display: grid;
  gap: 100%;
  width: calc(100% - var(--unit-8));
  height: calc(100% - var(--unit-8));
  transition: gap 0.1s var(--transition-timing-function);
}

.docs-cta-stack button {
  cursor: pointer;
  border: none;
  background: var(--color-background-secondary-default);
  color: var(--color-content-secondary-bg-primary);
  font: var(--body-m);
  border-radius: var(--border-radius-12);
  overflow: hidden;

  &:hover {
    background: color-mix(
      in srgb,
      var(--color-background-secondary-default) 95%,
      #000 5%
    );
  }
}
