@layer reset, theme, layout, content, grapes, components, utilities;
@import "@dev-spendesk/grapes/dist/style" layer(grapes);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@dev-spendesk/grapes/dist/tailwind-grapes.css";

@font-face {
  font-family: "Roobert";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/Roobert-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 1 999;
  src: url("/static/fonts/Inter.woff2") format("woff2");
}

@layer content {
  .content {
    font: var(--grapes-body-l);
    color: var(--grapes-color-content-secondary-bg-primary);

    h1:not([class^="_grapes"]),
    h2,
    h2 a,
    h3,
    h3 a,
    h4 {
      position: relative;
      color: var(--grapes-color-content-primary);
      margin-block: var(--grapes-unit-40) var(--grapes-unit-8);
      text-decoration: none;
      scroll-margin-block-start: calc(
        var(--docs-offset-header) + var(--grapes-unit-24)
      );
    }

    :is(h2, h3) a:hover::before {
      opacity: 1;
    }
    :is(h2, h3) a::before {
      position: absolute;
      content: "#";
      display: block;
      left: 0;
      translate: calc(-100% - var(--grapes-unit-8)) 0;
      color: var(--grapes-color-content-brand-default);
      opacity: 0;
    }

    h1:not([class^="_grapes"]) {
      font: var(--grapes-heading-xxl);
      margin-block-start: 0;
    }

    h2 {
      font: var(--grapes-heading-l);
    }

    h3 {
      font: var(--grapes-title-l);
    }

    h4 {
      font: var(--grapes-title-m);
    }

    ul:not([class^="_grapes"]),
    ol:not([class^="_grapes"]) {
      margin-inline-start: var(--grapes-unit-24);
      li {
        margin-block: var(--grapes-unit-8);
      }
    }

    :is(&, [role="tabpanel"]) > p {
      margin-block: var(--grapes-unit-8);
    }

    hr {
      background-color: var(--grapes-color-background-tertiary-default);
      margin-block: var(--grapes-unit-40);
      border: none;
      height: 1px;
    }

    :not(pre) > code {
      background: var(--grapes-color-background-secondary-default);
      padding: var(--grapes-unit-4);
      border-radius: var(--grapes-border-radius-4);
      color: var(--grapes-color-content-brand-default);
      font-family: var(--docs-ff-mono);
      font-size: var(--grapes-font-size-14);
    }

    table:not([class^="_grapes"]) {
      width: 100%;
      border-radius: var(--grapes-border-radius-8);
      border: 1px solid var(--grapes-color-border-default);
      border-spacing: 0;
      table-layout: fixed;

      td,
      th {
        padding: var(--grapes-unit-8) var(--grapes-unit-16);
        font: var(--grapes-body-m);
        border-bottom: 1px solid var(--grapes-color-border-default);
      }

      td {
        color: var(--grapes-color-content-primary);
        height: var(--grapes-unit-48);
      }

      th {
        color: var(--grapes-color-content-secondary-bg-primary);
        height: var(--grapes-unit-40);
      }

      :is(td, th):not(:last-of-type) {
        border-right: 1px solid var(--grapes-color-border-default);
      }
      tbody tr:last-of-type td {
        border-bottom: none;
      }
    }

    aside:not(.docs-preview > aside) {
      margin-block: var(--grapes-unit-16);
    }
  }
}

/* Global reset */
@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    background-color: var(--grapes-color-background-primary-default);
  }
  body:has(dialog[open], [role="dialog"]) {
    overflow: hidden;
  }

  a {
    color: inherit;
    outline: none;
  }

  a:hover,
  a:focus {
    outline: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  fieldset {
    border: none;
  }

  input,
  textarea,
  select {
    background-color: transparent;
    appearance: none;
    outline: none;
    resize: none;
  }
}

:root {
  color-scheme: light dark;
  --docs-offset-header: 68px;
  --docs-background-header: light-dark(
    rgb(255 255 255 / 0.8),
    rgb(28 30 30 / 0.8)
  );
  --docs-background-filter: blur(8px);
  --docs-width: min(95vw, 1400px);
  --docs-ff-mono: ui-monospace, "SF Mono", SFMono-Regular, Menlo, Consolas,
    monospace;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

:root[data-theme="light"] {
  color-scheme: light;
}

::highlight(primary) {
  color: var(--grapes-color-content-brand-default);
  text-decoration: underline;
}
