@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-America";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/GT-America/GT-America-Standard-Regular.woff2")
      format("woff2"),
    url("/static/fonts/GT-America/GT-America-Standard-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "GT-America";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("/static/fonts/GT-America/GT-America-Standard-Regular-Italic.woff2")
      format("woff2"),
    url("/static/fonts/GT-America/GT-America-Standard-Regular-Italic.woff")
      format("woff");
}

@font-face {
  font-family: "GT-America";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/GT-America/GT-America-Standard-Medium.woff2")
      format("woff2"),
    url("/static/fonts/GT-America/GT-America-Standard-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "GT-America";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/static/fonts/GT-America/GT-America-Standard-Medium-Italic.woff2")
      format("woff2"),
    url("/static/fonts/GT-America/GT-America-Standard-Medium-Italic.woff")
      format("woff");
}

/* Global reset */
@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    background-color: var(--color-page-background);
  }
  body:has(dialog[open]) {
    overflow: hidden;
  }

  a {
    color: inherit;
    outline: none;
  }

  a:hover,
  a:focus {
    outline: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  fieldset {
    border: none;
  }

  input,
  textarea,
  select {
    background-color: transparent;
    appearance: none;
    outline: none;
    resize: none;
  }
}

@layer reset, grapes;

:root {
  --docs-offset-header: 68px;
  --docs-background-header: rgb(255 255 255 / 0.8);
  --docs-background-filter: blur(8px);
  --docs-width: min(95vw, 1400px);
  --docs-fs-body-s: 0.9rem;
  --docs-fs-body-m: 1rem;
  --docs-fs-title-m: 0.9rem;
  --docs-fs-title-l: 1rem;
  --docs-fs-title-xl: 1.3rem;
  --docs-fs-title-xxl: 2rem;
  --docs-ff: system-ui;

  --bkp-fs-title-m: var(--fs-title-m);
  --bkp-fs-body-m: var(--fs-body-m);
  --bkp-ff-base: var(--ff-base);
}

::highlight(primary) {
  color: var(--color-primary);
  text-decoration: underline;
}
