@layer reset, layout, grapes;
@import "@dev-spendesk/grapes/dist/style" layer(grapes);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roobert";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/Roobert-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 1 999;
  src: url("/static/fonts/Inter.woff2") format("woff2");
}

/* Global reset */
@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    background-color: var(--color-background-primary-default);
  }
  body:has(dialog[open], [role="dialog"]) {
    overflow: hidden;
  }

  a {
    color: inherit;
    outline: none;
  }

  a:hover,
  a:focus {
    outline: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  fieldset {
    border: none;
  }

  input,
  textarea,
  select {
    background-color: transparent;
    appearance: none;
    outline: none;
    resize: none;
  }
}

:root {
  --docs-offset-header: 68px;
  --docs-background-header: rgb(255 255 255 / 0.8);
  --docs-background-filter: blur(8px);
  --docs-width: min(95vw, 1400px);
  --docs-ff-mono: ui-monospace, "SF Mono", SFMono-Regular, Menlo, Consolas,
    monospace;
}

::highlight(primary) {
  color: var(--color-content-brand-default);
  text-decoration: underline;
}
