.home-content {
  --size-content: min(100vw, 1200px);
  --size-bleed: var(--spacing-3xl);
  --font-size-h2: 50px;
  --gap-section: max(var(--spacing-3xl), 8vh);
  background: var(--color-page-background);
  font-family: var(--ff-base);

  a {
    text-decoration: none;
  }

  position: relative;
  z-index: 0;
  display: grid;
  width: var(--size-content);
  margin: 0 auto;
  padding-block-start: var(--spacing-3xl);
  grid-template-columns:
    [bleed-start] var(--size-bleed)
    [content-start hero-text-start] 1fr
    [hero-bg-start hero-text-end] 1fr
    [content-end] var(--size-bleed)
    [bleed-end hero-bg-end];
  row-gap: var(--gap-section);

  .hero {
    grid-column: bleed;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: subgrid;
    background: var(--color-white);
    border-radius: var(--border-radius-xs);
    overflow: clip;
    border: 1px solid var(--color-neutral-lighter);
  }

  .hero-cta {
    background: var(--color-primary);
    border-radius: var(--border-radius-xs);
    display: inline grid;
    grid-template-areas: "text arrow";
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--color-white);
    font-size: var(--fs-body-l);
    box-shadow: var(--elevation-30);
    padding: var(--spacing-s) var(--spacing-m);
    transition: background var(--transition-duration-long)
      var(--transition-timing-function);
    contain: paint;

    &:hover {
      background: var(--color-primary-light);

      span {
        transform: rotate(calc(var(--deg) + -45deg));
      }
    }

    .arrow {
      grid-column: arrow;
    }

    .initial {
      --deg: 0deg;
    }
    .hover {
      --deg: 45deg;
    }

    span {
      grid-area: text;
      transform: rotate(var(--deg));
      transform-origin: 150% 50%;
      transition: transform var(--transition-duration)
        var(--transition-timing-function);
    }
  }

  .hero-wrapper {
    grid-column: hero-text;
    padding-block: var(--spacing-xl);
    align-self: center;

    p {
      text-wrap: balance;
      margin: var(--spacing-l) 0;
    }

    h1 {
      font-size: 70px;
      line-height: 80px;
      font-weight: 700;
      font-family: var(--docs-ff-base);

      span {
        display: block;
        background: linear-gradient(
          120deg,
          var(--color-primary),
          var(--color-primary-lighter) 60%
        );
        color: transparent;
        background-clip: text;
      }
    }
  }

  .hero-bg {
    position: relative;
    grid-column: hero-bg;
    background: url("/bg.avif");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 100px;
  }

  section {
    grid-column: content;

    h2 {
      font-size: var(--fs-body-xxl);
      font-weight: var(--fw-medium);
      color: var(--color-complementary);
      text-wrap: pretty;
      margin-block-end: var(--spacing-s);
    }
  }

  .highlight {
    position: relative;
    color: var(--color-primary);

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: var(--color-primary-lighter);
      z-index: -1;
      width: 100%;
      top: 30px;
      left: 0;
      height: 20px;
      transform: rotate(2deg);
    }
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--spacing-s) 0;
    gap: var(--spacing-s);

    :where(.feature-item) {
      background: var(--color-white);
      border-radius: var(--border-radius-xs);
      padding: var(--spacing-m);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-s);
      border: 1px solid var(--color-neutral-lighter);

      &:hover {
        border: 1px solid var(--color-primary-light);
        h3 {
          color: var(--color-primary);
        }
      }
    }

    .illustration {
      padding: var(--spacing-s);
    }

    h3 {
      color: var(--color-complementary);
    }

    p {
      color: var(--color-neutral-darker);
    }
  }

  .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-xl);
    list-style: none;
    margin: var(--spacing-l) 0;
    text-align: center;

    p {
      color: var(--color-complementary);
      font-size: var(--fs-body-xl);
      margin-block: var(--spacing-s) var(--spacing-xxs);
    }
    small {
      font-size: var(--fs-body-l);
      color: var(--color-neutral-dark);
    }
  }
}

@media (width <= 900px) {
  .home-content .features {
    grid-template-columns: 1fr;
  }
  .home-content .team {
    flex-direction: column;
  }

  .home-content {
    --size-bleed: var(--spacing-s);
    grid-template-columns:
      [bleed-start hero-bg-start] var(--size-bleed)
      [content-start hero-text-start] 1fr
      [content-end hero-text-end] var(--size-bleed)
      [bleed-end hero-bg-end];
  }
}

@media (width >= 900px) {
  .home-content .features .expand {
    grid-row: 1 / span 2;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: end;
  }
}
