.home-content {
  --size-content: min(100vw, 1200px);
  --size-bleed: var(--unit-64);
  --gap-section: max(var(--unit-64), 8vh);

  position: relative;
  background: var(--color-background-primary);
  z-index: 0;
  display: grid;
  width: var(--size-content);
  margin: 0 auto;
  padding-block-start: var(--unit-64);
  grid-template-columns:
    [bleed-start] var(--size-bleed)
    [content-start hero-text-start] 1fr
    [hero-bg-start hero-text-end] 1fr
    [content-end] var(--size-bleed)
    [bleed-end hero-bg-end];
  row-gap: var(--gap-section);

  a {
    text-decoration: none;
  }

  .hero {
    grid-column: bleed;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: subgrid;
    background: var(--color-background-primary);
    border-radius: var(--border-radius-12);
    overflow: clip;
    border: 1px solid var(--color-border-default);
  }

  .hero-cta {
    background: var(--color-background-primary-brand-default);
    border-radius: var(--border-radius-12);
    display: inline grid;
    grid-template-areas: "text arrow";
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: var(--unit-8);
    color: var(--color-content-complementary);
    font: var(--body-l);
    box-shadow: var(--elevation-m);
    padding: var(--unit-16) var(--unit-24);
    transition: background var(--transition-duration-long)
      var(--transition-timing-function);
    contain: paint;

    &:hover {
      background: var(--color-background-primary-brand-hover);

      span {
        transform: rotate(calc(var(--deg) + -45deg));
      }
    }

    .arrow {
      grid-column: arrow;
    }

    .initial {
      --deg: 0deg;
    }
    .hover {
      --deg: 45deg;
    }

    span {
      grid-area: text;
      transform: rotate(var(--deg));
      transform-origin: 150% 50%;
      transition: transform var(--transition-duration)
        var(--transition-timing-function);
    }
  }

  .hero-wrapper {
    grid-column: hero-text;
    padding-block: var(--unit-40);
    align-self: center;

    p {
      text-wrap: balance;
      margin: var(--unit-32) 0;
    }

    h1 {
      font: var(--heading-xxl);
      font-size: 70px;
      line-height: 80px;

      span {
        display: block;
        background: linear-gradient(
          120deg,
          var(--color-background-primary-brand-default),
          var(--color-background-secondary-brand-default) 60%
        );
        color: transparent;
        background-clip: text;
      }
    }
  }

  .hero-bg {
    position: relative;
    grid-column: hero-bg;
    background: url("/bg.avif");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 100px;
  }

  section {
    grid-column: content;

    h2 {
      font: var(--heading-xxl);
      color: var(--color-content-primary);
      text-wrap: pretty;
      margin-block-end: var(--unit-16);
    }
  }

  .highlight {
    position: relative;
    color: var(--color-content-brand-default);

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: var(--color-background-secondary-brand-default);
      z-index: -1;
      width: 100%;
      top: 30px;
      left: 0;
      height: 20px;
      transform: rotate(2deg);
    }
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--unit-16) 0;
    gap: var(--unit-16);

    :where(.feature-item) {
      background: var(--color-background-primary);
      border-radius: var(--border-radius-12);
      padding: var(--unit-24);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--unit-16);
      border: 1px solid var(--color-border-default);

      &:hover {
        border: 1px solid var(--color-border-hover);
        h3 {
          color: var(--color-content-brand-default);
        }
      }
    }

    .illustration {
      padding: var(--unit-16);
    }

    h3 {
      color: var(--color-content-primary);
    }

    p {
      color: var(--color-content-primary);
    }
  }

  .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--unit-40);
    list-style: none;
    margin: var(--unit-32) 0;
    text-align: center;

    p {
      color: var(--color-content-primary);
      font: var(--body-l);
      margin-block: var(--unit-16) var(--unit-4);
    }
    small {
      color: var(--color-content-primary);
      font: var(--body-m);
    }
  }
}

@media (width <= 900px) {
  .home-content .features {
    grid-template-columns: 1fr;
  }
  .home-content .team {
    flex-direction: column;
  }

  .home-content {
    --size-bleed: var(--unit-16);
    grid-template-columns:
      [bleed-start hero-bg-start] var(--size-bleed)
      [content-start hero-text-start] 1fr
      [content-end hero-text-end] var(--size-bleed)
      [bleed-end hero-bg-end];
  }
}

@media (width >= 900px) {
  .home-content .features .expand {
    grid-row: 1 / span 2;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: end;
  }
}
