.docs-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  list-style: none;
  margin-inline: 0;
  gap: var(--grapes-unit-24);

  & a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
    overflow: clip;
    border: 1px solid var(--grapes-color-border-default);
    border-radius: var(--grapes-border-radius-8);
    color: var(--grapes-color-content-primary);
    text-decoration: none;
    background: var(--grapes-color-background-secondary-brand-default);
  }

  & a:hover {
    color: var(--grapes-color-content-brand-hover);
    border: 1px solid var(--grapes-color-border-hover);
  }
}

@layer layout {
  .docs-layout {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template: "sidebar content toc" / 250px minmax(0, 1fr) 250px;
    align-items: start;
    gap: var(--grapes-unit-32);
    width: var(--docs-width);
    margin: 0 auto;
    font: var(--grapes-body-l);
  }

  .docs-sidebar {
    position: sticky;
    grid-area: sidebar;
    top: var(--docs-offset-header);

    .docs-sidebar-inner {
      height: calc(100vh - var(--docs-offset-header));
      overflow-y: scroll;
      scrollbar-color: var(--grapes-color-content-brand-default) transparent;
      scrollbar-width: thin;
      padding-block-start: var(--grapes-unit-32);
    }
  }

  .docs-content {
    grid-area: content;
    padding-block: var(--grapes-unit-32);
  }

  .docs-toc {
    grid-area: toc;
    position: sticky;
    top: var(--docs-offset-header);
  }

  .docs-tabs {
    margin-top: var(--grapes-unit-24);
  }

  .docs-nav-link {
    display: block;
    text-decoration: none;
    color: var(--grapes-color-content-secondary-bg-primary);
    font: var(--grapes-body-m);
    padding: var(--grapes-unit-8);
    border-radius: var(--grapes-border-radius-8);

    &:hover {
      cursor: pointer;
      background: var(--grapes-color-background-primary-hover);
    }
  }
  .docs-nav-link.active {
    color: var(--grapes-color-content-primary);
  }

  @media (width <= 1300px) {
    .docs-layout {
      grid-template: "sidebar content" / 250px minmax(0, 1fr);
    }

    .docs-toc {
      display: none;
    }
  }

  @media (width <= 900px) {
    .docs-layout {
      grid-template: "content" / 1fr;
    }

    .docs-sidebar {
      display: none;
    }
  }
}
