.search {
  margin: 5vh auto;
  width: min(80vw, 500px);
  border: none;
  border-radius: var(--border-radius-xs);
  background: var(--color-white);
  font: var(--fw-regular) var(--docs-fs-m) var(--docs-ff);

  &::backdrop {
    background: #17114eb3;
  }
}

.search-body {
  padding-inline: var(--spacing-m);
}

.seach-input-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  padding-block: var(--spacing-s);
  border-block-end: 1px solid var(--color-neutral-lighter);

  input {
    display: block;
    flex: 1;
    border: none;
    font-size: var(--docs-fs-m);
  }
}
