.docs-code {
  position: relative;
  margin-block: var(--spacing-s);
  font-size: var(--docs-fs-body-s);

  .docs-cta-copy {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .docs-pre {
    padding: var(--spacing-s);
    border-radius: var(--border-radius-xs);
  }
}
